<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Pun Finder & Pun Generator - Enter a word, get puns</title>
        <meta name="description" content="Impress your friends, find a new Instagram handle, or make a dad joke. Give me a word, I'll give you some puns.">
        <script src="static/script/puns.js"></script>
        <link rel="stylesheet" href="static/style/style.css">
    </head>
    <body>
        <div class="content">
            <h1>Pun Finder</h1>
            <p>Trying to score fake internet points on Reddit? Running low on dad jokes? Need a new Instagram handle? This is just the thing for you!</p>

            <h2>Enter a word below!</h2>

            <form action="" onsubmit="return false;">
                <input type="text" placeholder="pun" id="seed" onkeydown="if (event.keyCode == 13) onGetPunsClicked(event);">
                <input type="button" onclick="onGetPunsClicked(event);" value="Get puns" id="get-button">
            </form>

            <div class="puns">
                <h2>Puns:</h2>
                <ul id="puns-list">
                    <li>(To) beat (someone) to the pun</li>
                    <li>Sucker pun</li>
                    <li>To pun a can of worms</li>
                    <li>keep one’s eye pun</li>
                    <li>(A) pun in the butt</li>
                    <li>(To) jump the pun</li>
                    <li>(To) pull a fast pun</li>
                    <li>(To) pun a fever</li>
                    <li>(To) pun in the family</li>
                    <li>(to) sit this pun out</li>
                </ul>
            </div>

            <p class="footer">Created by <a href="https://www.samueltaylor.org/">Samuel Taylor</a></p>
        </div>
    </body>
</html>
